/* reset.css: 하이브리드 앱용 기본 스타일 초기화 */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

body {
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  /* min-width: 144rem; */
  /* height: 100vh; */
  min-height: 0;
}

/* 모바일 최적화 */
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* 미디어 요소 */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 버튼 초기화 */
button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

/* 링크 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* 테이블 초기화 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* 리스트 초기화 */
ul,
ol {
  list-style: none;
}

/* 기타태그 */
label {
  display: inline-flex;
  cursor: pointer;
}

em,
address,
i {
  font-style: normal;
}

input,
select,
textarea,
button {
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: inherit;
  line-height: 1.5;
  letter-spacing: 0;
  appearance: none;
}

/* 기본 스크롤바 설정 (WebKit 기반 브라우저용) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* 가로 스크롤일 경우 */
  background: transparent;
  /* 배경 없음 */
}

::-webkit-scrollbar-thumb {
  background-color: #171719;
  border: 2px solid #fff;
  border-radius: 8px;
  width: 4px;
  margin: auto;
}

::-webkit-scrollbar-thumb:hover {
  border-color: #171719;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* 트랙 배경 없음 */
}